<%- include header %>
<ul class="archive">
    <% var lastDay= 0 %>
    <% regUsers.forEach(function (regUser, index) { %>
    <% if (lastDay != regUser.time.day ) { %>
    <li><h3><%= regUser.time.day %></h3></li>
    <% lastDay = regUser.time.day } %>
    <li><time><%= regUser.time.minute %></time></li>
    <li><a href="/reg/<%= regUser.email %>"><%=
                regUser.name %></a></li>
    <% }) %>
</ul>
<%- include paging %>
<%- include footer %>